name: Pokemon Environments Documentation

# build the documentation whenever there are new commits on main
on:
  push:
    branches:
      - main
    # Alternative: only build for tags.
    # tags:
    #   - '*'

# security: restrict permissions for CI jobs.
permissions:
  contents: read

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      # ADJUST THIS: install all dependencies (including pdoc)
      - run: pip install uv
      - run: uv sync --extra vlm
      - run: |
          . .venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV
      - run: which python && pip list
      - run: uv pip install pdoc
      - run: uv pip install -e ".[vlm]"
      - run: uv pip install vptq
      # ADJUST THIS: build your documentation into docs/.
      # We use a custom build script for pdoc itself, ideally you just run `pdoc -o docs/ ...` here.
      - run: |
          mkdir -p docs/assets
          cp assets/logo_tilt.png docs/assets/
          cp assets/pokeball.png docs/assets/
          pdoc src/poke_worlds !poke_worlds.interface.pokemon.transformers -o docs -d google -n --logo "https://dhananjayashok.github.io/PokeWorlds/assets/logo_tilt.png" --favicon "https://dhananjayashok.github.io/PokeWorlds/assets/pokeball.png"
      - uses: actions/upload-pages-artifact@v4
        with:
          path: docs/

  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
